Name: Priyal Gupta
PRN: 25070123087
Experiment-10
Aim of Experiment: Study of Pandas library

In [5]:
import pandas as pd

s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
# Create DataFrame
data = {
    "Name": ["A","B","C"],
    "Marks": [85,90,78]
}
df = pd.DataFrame(data)
print(df)

  Name  Marks
0    A     85
1    B     90
2    C     78

In [8]:
# Find the structure of the DataFrame:
print(df.shape)

(3, 2)

In [9]:
# Find no.of variables in given data
print(df.ndim)

2

In [10]:
print(df.size)

6

In [11]:
# Display Column Nmaes:
print(df.columns)

Index(['Name', 'Marks'], dtype='object')

In [12]:
# Check Data types of each column:
print(df.dtypes)

Name     object
Marks     int64
dtype: object

In [13]:
# Access individual column:
print(df["Name"])

0    A
1    B
2    C
Name: Name, dtype: object

In [14]:
print(df["Marks"])

0    85
1    90
2    78
Name: Marks, dtype: int64

In [15]:
# Access Nmae of first row:
print(df.loc[0,"Name"])

A

In [18]:
print(df.loc[0,"Marks"])
print(df.iloc[2,1])

85
78

In [21]:
# Add a New Column:
df["Grade"]=["First Class","Distinction","Second Class"]
print(df)

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [29]:
# Update Data in DataFrame
# Change  marks f student A to 88.
df.loc[0,"Marks"] = 88
print(df.loc[0,"Marks"])

88

In [35]:
# Delete a Column:
# df.drop("Grade", axis =1, inplace=True)
# Using errors='ignore' will prevent an error if the column does not exist
df1=df.drop("Grade",axis=1, errors='ignore')
print(df)
print(df1)

  Name  Marks
0    A     88
1    B     90
2    C     78
  Name  Marks
0    A     88
1    B     90
2    C     78

In [38]:
# Delete a Column:
df.drop("Grade", axis =1, inplace=True, errors='ignore')
# Using errors='ignore' will prevent an error if the column does not exist
print(df)

  Name  Marks
0    A     88
1    B     90
2    C     78

In [41]:
# Perform Basic Statistical Analysis
mean1 =df["Marks"].mean()
print(mean1)

min1=df["Marks"].min()
print(min1)

max1=df["Marks"].max()
print(max1)

85.33333333333333
78
90

In [43]:
# Apply Condition(Filtering)
# Display students scoring more than 80.

print(df[df["Marks"]>80])

  Name  Marks
0    A     88
1    B     90